.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  border: 4px solid var(--accent-1);
  text-align: center; /* Center all text */
  padding: 0.5rem;
}


.name {
  font-weight: bold;
  font-size: 2.5rem;
}