.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-1);
  color: var(--text-color);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center; 
}
.footer div {
  text-align: center;
}
.footer a {
  color: var(--text-color); 
  text-decoration: none;
}

.footer a:hover {
  color: var(--hover-effects); 
}